/Homework1/HomeworkApplication/bin/
/Homework1/HomeworkApplication/obj
/Homework1/TestProject/bin/
/Homework1/TestProject/obj/
/Homework2/.vs
/Homework2/MVCApplication/bin/
/Homework2/MVCApplication/obj/
/Homework2/TestProject/bin/
/Homework2/TestProject/obj/
.vs
